<ngb-tabset>
  <ngb-tab title="All Orders">
    <ng-template ngbTabContent>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead class="thead-dark">
            <tr>
              <th>Order #</th>
              <th>Table #</th>
              <th>Quantity</th>
              <th>Size</th>
              <th>Menu</th>
              <th>Server</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders">
              <td>{{order.orderNo}}</td>
              <td>{{order.tableNo}}</td>
              <td>{{order.quantity}}</td>
              <td>{{order.size}}</td>
              <td>{{order.menu.name}}</td>
              <td>{{order.server}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </ng-template>
  </ngb-tab>
  <ngb-tab title="Orders by Table">
    <ng-template ngbTabContent>

      <div class="container">
        <div class="row mb-3 text-center">
          <div *ngFor="let table of ordersByTable; let i =index" class="card col-md-5 p-0 m-4 box-shadow">
            <div class="card-header">
              <div class="d-inline">
                <h4 class="my-0 font-weight-normal d-inline float-left">Order # {{table.orderNo}}</h4>
                <h4 class="my-0 font-weight-normal d-inline float-right">Table # {{table.tableNo}}</h4>
              </div>
            </div>
            <div class="card-body">
              <div class="container">
                <div *ngFor="let order of table.orders; let j = index " class="row">
                  <div class="col">{{order.quantity}}</div>
                  <div class="col">{{order.menu.prices[order.size].type}}</div>
                  <div class="col"> {{order.menu.name}}</div>
                  <div class="col"> {{order.status}}</div>
                  <button class="btn btn-danger btn-sm mb-3" (click)="cancelOrder(i, j)">X</button>
                </div>
              </div>
            </div>

            <div class="card-footer text-muted">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-success" (click)="addOrder(i)">Add</button>
                <button type="button" class="btn  btn-danger" (click)="closeOrder(table.orderNo)">Close</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
