<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body m-4">
  <div class="container">
    <div id="pwd-container" class="row">
      <form #addMenuForm="ngForm" (ngSubmit)="submit(addMenuForm)" role="addMenu" ngNativeValidate>
        <div class="form-group row">
          <label for="name">Name: </label>
          <input type="text" name="menu.name" id="name" placeholder="Name" class="form-control input-lg" [(ngModel)]="menu.name">
        </div>

        <div class="form-group row">
          <label for="desc">Description: </label>
          <input type="text" name="menu.description" id="desc" placeholder="Name" class="form-control input-lg" [(ngModel)]="menu.description">
        </div>

        <div class="form-group row">
          <label for="ingredient">Ingredients: </label>
          <input type="text" name="menu.ingredients" id="ingredient" placeholder="Add an ingredient" class="form-control input-lg"
            [(ngModel)]="ingredient">
          <button type="button" class="btn btn-sm btn-success" (click)="menu.ingredients.push(ingredient)">Add</button>
        </div>
        <ul>
          <li *ngFor="let ing of menu.ingredients; let i = index">{{ing}}
            <button class = "btn btn-danger btn-sm" (click)="menu.ingredients.splice(i,1)"> X </button>
          </li>
        </ul>
        <div class="form-group row">
          <label for="menuType">Menu Type:</label>
          <input type="text" name="menu.menutype" id="menutype" class="form-control input-lg" list="menuTypes" [(ngModel)]="menu.menutype">
          <datalist id="menuTypes">
            <option *ngFor="let mt of menuTypes"> {{mt}}</option>
          </datalist>
        </div>

        <div class="form-group row">
          <label for="price">Price: </label>
          <input type="text" name="type" id="type" placeholder="Type" list="sizeList" class="form-control col-sm-4" [(ngModel)]="type">
          <datalist id="sizeList">
            <option *ngFor="let size of sizeList"> {{size}}</option>
          </datalist>
          <input type="number" min="0.00" max="10000.00" step="0.01" name="price" id="price" placeholder="price" class="form-control col-sm-3"
            [(ngModel)]="price" />
          <button type="button" class="btn btn-small" (click)="menu.prices.push({type : type, price: price})">Add</button>
          <ul>
            <li *ngFor="let price of menu.prices; let i = index">{{price.type}} : {{price.price}}
              <button (click)="menu.prices.splice(i,1)"> X </button>
            </li>
          </ul>
        </div>

        <hr>

        <section ngModelGroup="nutrition" class=" border m-0 p-2">
          <header class="h1">Nutrition Facts
          </header>
          <table class="performance-facts__table small">
            <tbody>
              <tr>
                <th colspan="2" class="border-top font-weight-normal text-nowrap">
                  <b>Calories</b>
                  <input type="number" name="calories" min="0" class ="form-control form-control-sm col-sm-2 d-inline" [(ngModel)]="menu.nutrition.calories.calories">
                </th>
                <td class="border-top font-weight-normal text-nowrap">
                  Calories from Fat
                  <input type="number" name="caloriesFromFat" min="0" class ="form-control form-control-sm col-sm-2 d-inline" [(ngModel)]="menu.nutrition.calories.caloriesFromFat">
                </td>
              </tr>
              <tr class="thick-row">
                <td colspan="3" class="small">
                  <b>% Daily Value*</b>
                </td>
              </tr>
              <tr>
                <th colspan="2" class="border-top font-weight-normal text-nowrap">
                  <b>Total Fat</b>
                  <input type="number" name="fat"min="0" class ="form-control form-control-sm col-sm-2 d-inline" [(ngModel)]="menu.nutrition.fat.fat">g
                </th>
                <td class="border-top font-weight-normal text-nowrap">
                    {{(menu.nutrition.fat.fat/dailyValues.fat).toPrecision(2)*100}}%
                </td>
              </tr>
              <tr>
                <td class="blank-cell">
                </td>
                <th class="border-top font-weight-normal text-nowrap">
                  Saturated Fat <input name="satFat" type="number" min="0" class ="form-control form-control-sm col-sm-2 d-inline" [(ngModel)]="menu.nutrition.fat.satFat">g
                </th>
                <td class="border-top font-weight-normal text-nowrap">
                    {{(menu.nutrition.fat.satFat/dailyValues.satFat).toPrecision(2)*100}}%
                </td>
              </tr>
              <tr>
                <td class="blank-cell">
                </td>
                <th class="border-top font-weight-normal text-nowrap">
                  Unsaturated Fat <input type="number" name="unsaatFat" min="0" class ="form-control form-control-sm col-sm-2 d-inline" [(ngModel)]="menu.nutrition.fat.unsatFat">g
                </th>
                <td class="border-top font-weight-normal text-nowrap">
                </td>
              </tr>
              <tr>
                <td class="blank-cell">
                </td>
                <th class="border-top font-weight-normal text-nowrap">
                  Trans Fat <input type="number" name="transFat" min="0" class ="form-control form-control-sm col-sm-2 d-inline" [(ngModel)]="menu.nutrition.fat.transFat">g
                </th>
                <td class="border-top font-weight-normal text-nowrap">
                </td>
              </tr>
              <tr>
                <th colspan="2" class="border-top font-weight-normal text-nowrap">
                  <b>Cholesterol</b>
                  <input type="number" name="cholestrol" min="0" class ="form-control form-control-sm col-sm-2 d-inline" [(ngModel)]="menu.nutrition.cholestrol">mg
                </th>
                <td class="border-top font-weight-normal text-nowrap">
                    {{(menu.nutrition.cholestrol/dailyValues.cholestrol).toPrecision(2)*100}}%
                </td>
              </tr>
              <tr>
                <th colspan="2" class="border-top font-weight-normal text-nowrap">
                  <b>Sodium</b>
                  <input type="number" name ="sodium" min="0" class ="form-control form-control-sm col-sm-2 d-inline" [(ngModel)]="menu.nutrition.sodium">mg
                </th>
                <td class="border-top font-weight-normal text-nowrap">
                    {{(menu.nutrition.sodium/dailyValues.sodium).toPrecision(2)*100}}%
                </td>
              </tr>
              <tr>
                <th colspan="2" class="border-top font-weight-normal text-nowrap">
                  <b>Total Carbohydrate</b>
                  <input type="number" name="carbs" min="0" class ="form-control form-control-sm col-sm-2 d-inline" [(ngModel)]="menu.nutrition.carbs.carbs">g
                </th>
                <td class="border-top font-weight-normal text-nowrap">
                    {{(menu.nutrition.carbs.carbs/dailyValues.carbs).toPrecision(2)*100}}%
                </td>
              </tr>
              <tr>
                <td class="blank-cell">
                </td>
                <th class="border-top font-weight-normal text-nowrap">
                  Dietary Fiber <input type="number" name="fiber" min="0" class ="form-control form-control-sm col-sm-2 d-inline" [(ngModel)]="menu.nutrition.carbs.fiber">g
                </th>
                <td class="border-top font-weight-normal text-nowrap">
                    {{(menu.nutrition.carbs.fiber/dailyValues.fiber).toPrecision(2)*100}}%
                </td>
              </tr>
              <tr>
                <td class="blank-cell">
                </td>
                <th class="border-top font-weight-normal text-nowrap">
                  Sugars <input type="number" name="sugar" min="0" class ="form-control form-control-sm col-sm-2 d-inline" [(ngModel)]="menu.nutrition.carbs.sugar">g
                </th>
                <td class="border-top font-weight-normal text-nowrap">
                </td>
              </tr>
              <tr class="thick-end">
                <th colspan="2" class="border-top font-weight-normal text-nowrap">
                  <b>Protein</b>
                  <input type="number"  name = "protein" min="0" class ="form-control form-control-sm col-sm-2 d-inline" [(ngModel)]="menu.nutrition.protein">g
                </th>
                <td class="border-top font-weight-normal text-nowrap">
                </td>
              </tr>
            </tbody>
          </table>

          <table class="performance-facts__table--grid small">
            <tbody>
              <tr>
                <td colspan="2" class="border-top font-weight-normal text-nowrap">
                  Vitamin A <input type="number" name="vita" min="0" max="100" class ="form-control form-control-sm col-sm-2 d-inline" [(ngModel)]="menu.nutrition.vitamin.vita">%
                </td>
                <td class="border-top font-weight-normal text-nowrap">
                  Vitamin C <input type="number" name="vitc" min="0" max="100" class ="form-control form-control-sm col-sm-2 d-inline" [(ngModel)]="menu.nutrition.vitamin.vitc">%
                </td>
              </tr>
              <tr class="border-bottom">
                <td colspan="2" class="border-top font-weight-normal text-nowrap">
                  Calcium <input type="number"  name = "calcium" min="0" max="100" class ="form-control form-control-sm col-sm-2 d-inline" [(ngModel)]="menu.nutrition.calcium">%
                </td>
                <td class="border-top font-weight-normal text-nowrap">
                  Iron <input type="number" name="iron" min="0" max="100" class ="form-control form-control-sm col-sm-2 d-inline" [(ngModel)]="menu.nutrition.iron">%
                </td>
              </tr>
            </tbody>
          </table>

          <p class="small">* Percent Daily Values are based on a 2,000 calorie diet. Your daily values may be higher or lower depending on
            your calorie needs:</p>

          <table class="performance-facts__table--small small border-bottom">
            <thead>
              <tr>
                <td colspan="2" class="border-top font-weight-normal text-nowrap"></td>
                <th class="border-top font-weight-normal text-nowrap">Calories:</th>
                <th class="border-top font-weight-normal text-nowrap">2,000</th>
                <th class="border-top font-weight-normal text-nowrap">2,500</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th colspan="2" class="border-top font-weight-normal text-nowrap">Total Fat</th>
                <td class="border-top font-weight-normal text-nowrap">Less than</td>
                <td class="border-top font-weight-normal text-nowrap">{{dailyValues.fat}}g</td>
                <td class="border-top font-weight-normal text-nowrap">80g</td>
              </tr>
              <tr>
                <td class="blank-cell"></td>
                <th class="border-top font-weight-normal text-nowrap">Saturated Fat</th>
                <td class="border-top font-weight-normal text-nowrap">Less than</td>
                <td class="border-top font-weight-normal text-nowrap">{{dailyValues.satFat}}g</td>
                <td class="border-top font-weight-normal text-nowrap">25g</td>
              </tr>
              <tr>
                <th colspan="2" class="border-top font-weight-normal text-nowrap">Cholesterol</th>
                <td class="border-top font-weight-normal text-nowrap">Less than</td>
                <td class="border-top font-weight-normal text-nowrap">{{dailyValues.cholestrol}}mg</td>
                <td class="border-top font-weight-normal text-nowrap">300 mg</td>
              </tr>
              <tr>
                <th colspan="2" class="border-top font-weight-normal text-nowrap">Sodium</th>
                <td class="border-top font-weight-normal text-nowrap">Less than</td>
                <td class="border-top font-weight-normal text-nowrap">{{dailyValues.sodium}}mg</td>
                <td class="border-top font-weight-normal text-nowrap">2,400mg</td>
              </tr>
              <tr>
                <th colspan="3" class="border-top font-weight-normal text-nowrap">Total Carbohydrate</th>
                <td class="border-top font-weight-normal text-nowrap">{{dailyValues.carbs}}g</td>
                <td class="border-top font-weight-normal text-nowrap">375g</td>
              </tr>
              <tr>
                <td class="blank-cell"></td>
                <th colspan="2" class="border-top font-weight-normal text-nowrap">Dietary Fiber</th>
                <td class="border-top font-weight-normal text-nowrap">{{dailyValues.fiber}}g</td>
                <td class="border-top font-weight-normal text-nowrap">30g</td>
              </tr>
            </tbody>
          </table>

          <p class="small">
            Calories per gram:
          </p>
          <p class="small text-center">
            Fat 9 &bull; Carbohydrate 4 &bull; Protein 4
          </p>

        </section>
        <div class="modal-footer">
          <button type="submit" name="go" class="btn btn-outline-primary">{{newAdd?"Add":"Update"}}</button>
          <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
