<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body m-4">
  <div class="container">
    <div id="pwd-container" class="row">
      <form #addMenuForm="ngForm" (ngSubmit)="submit(addMenuForm)" role="addMenu" ngNativeValidate>
        <div class="form-group row">
          <label for="name">Name: </label>
          <input type="text" name="menu.name" id="name" placeholder="Name" class="form-control input-lg" [(ngModel)]="menu.name">
        </div>

        <div class="form-group row">
          <label for="desc">Description: </label>
          <input type="text" name="menu.description" id="desc" placeholder="Name" class="form-control input-lg" [(ngModel)]="menu.description">
        </div>

        <div class="form-group row">
          <label for="ingredient">Ingredients: </label>
          <input type="text" name="menu.ingredients" id="ingredient" placeholder="Add an ingredient" class="form-control input-lg"
            [(ngModel)]="ingredient">
          <button type="button" class="btn btn-small" (click)="menu.ingredients.push(ingredient)">Add</button>
        </div>
        <ul>
          <li *ngFor="let ing of menu.ingredients; let i = index">{{ing}}
            <button (click)="menu.ingredients.splice(i,1)"> X </button>
          </li>
        </ul>
        <div class="form-group row">
          <label for="menuType">Menu Type:</label>
          <input type="text" name="menu.menutype" id="menutype" class="form-control input-lg" list="menuTypes" [(ngModel)]="menu.menutype">
          <datalist id="menuTypes">
            <option *ngFor="let mt of menuTypes"> {{mt}}</option>
          </datalist>
        </div>

        <div class="form-group row">
          <label for="price">Price: </label>
          <input type="text" name="type" id="type" placeholder="Type" list="sizeList" class="form-control col-sm-4" [(ngModel)]="type">
          <datalist id="sizeList">
            <option *ngFor="let size of sizeList"> {{size}}</option>
          </datalist>
          <input type="number" min="0.00" max="10000.00" step="0.01" name="price" id="price" placeholder="price" class="form-control col-sm-3"
            [(ngModel)]="price" />
          <button type="button" class="btn btn-small" (click)="menu.prices.push({type : type, price: price})">Add</button>
          <ul>
            <li *ngFor="let price of menu.prices; let i = index">{{price.type}} : {{price.price}}
              <button (click)="menu.prices.splice(i,1)"> X </button>
            </li>
          </ul>
        </div>

        <hr>

        <section class=" border m-4 p-4">
          <header class="performance-facts__header">
            <h1 class="performance-facts__title">Nutrition Facts</h1>
          </header>
          <table class="performance-facts__table">
            <tbody>
              <tr>
                <th colspan="2">
                  <b>Calories</b>
                  200
                </th>
                <td>
                  Calories from Fat 130
                </td>
              </tr>
              <tr class="thick-row">
                <td colspan="3" class="small">
                  <b>% Daily Value*</b>
                </td>
              </tr>
              <tr>
                <th colspan="2">
                  <b>Total Fat</b>
                  14g
                </th>
                <td>
                  <b>22%</b>
                </td>
              </tr>
              <tr>
                <td class="blank-cell">
                </td>
                <th>
                  Saturated Fat 9g
                </th>
                <td>
                  <b>22%</b>
                </td>
              </tr>
              <tr>
                <td class="blank-cell">
                </td>
                <th>
                  Trans Fat 0g
                </th>
                <td>
                </td>
              </tr>
              <tr>
                <th colspan="2">
                  <b>Cholesterol</b>
                  55mg
                </th>
                <td>
                  <b>18%</b>
                </td>
              </tr>
              <tr>
                <th colspan="2">
                  <b>Sodium</b>
                  40mg
                </th>
                <td>
                  <b>2%</b>
                </td>
              </tr>
              <tr>
                <th colspan="2">
                  <b>Total Carbohydrate</b>
                  17g
                </th>
                <td>
                  <b>6%</b>
                </td>
              </tr>
              <tr>
                <td class="blank-cell">
                </td>
                <th>
                  Dietary Fiber 1g
                </th>
                <td>
                  <b>4%</b>
                </td>
              </tr>
              <tr>
                <td class="blank-cell">
                </td>
                <th>
                  Sugars 14g
                </th>
                <td>
                </td>
              </tr>
              <tr class="thick-end">
                <th colspan="2">
                  <b>Protein</b>
                  3g
                </th>
                <td>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="performance-facts__table--grid">
            <tbody>
              <tr>
                <td colspan="2">
                  Vitamin A 10%
                </td>
                <td>
                  Vitamin C 0%
                </td>
              </tr>
              <tr class="thin-end">
                <td colspan="2">
                  Calcium 10%
                </td>
                <td>
                  Iron 6%
                </td>
              </tr>
            </tbody>
          </table>

          <p class="small">* Percent Daily Values are based on a 2,000 calorie diet. Your daily values may be higher or lower depending on
            your calorie needs:</p>

          <table class="performance-facts__table--small small">
            <thead>
              <tr>
                <td colspan="2"></td>
                <th>Calories:</th>
                <th>2,000</th>
                <th>2,500</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th colspan="2">Total Fat</th>
                <td>Less than</td>
                <td>65g</td>
                <td>80g</td>
              </tr>
              <tr>
                <td class="blank-cell"></td>
                <th>Saturated Fat</th>
                <td>Less than</td>
                <td>20g</td>
                <td>25g</td>
              </tr>
              <tr>
                <th colspan="2">Cholesterol</th>
                <td>Less than</td>
                <td>300mg</td>
                <td>300 mg</td>
              </tr>
              <tr>
                <th colspan="2">Sodium</th>
                <td>Less than</td>
                <td>2,400mg</td>
                <td>2,400mg</td>
              </tr>
              <tr>
                <th colspan="3">Total Carbohydrate</th>
                <td>300g</td>
                <td>375g</td>
              </tr>
              <tr>
                <td class="blank-cell"></td>
                <th colspan="2">Dietary Fiber</th>
                <td>25g</td>
                <td>30g</td>
              </tr>
            </tbody>
          </table>

          <p class="small">
            Calories per gram:
          </p>
          <p class="small text-center">
            Fat 9 &bull; Carbohydrate 4 &bull; Protein 4
          </p>

        </section>


        <div ngModelGroup="nutrition">
          <div class="form-group row">
            <label for="calories">Calories: </label>
            <input type="number" name="menu.nutrition.calories" id="calories" class="form-control form-control-sm col-sm-2" [(ngModel)]="menu.nutrition.calories">
          </div>

          <div ngModelGroup="fat">
            <div class="form-group row">
              <label for="fat">Fat: </label>
              <input type="number" name="menu.nutrition.fat.fat" id="fat" class="form-control form-control-sm col-sm-2 d-inline" [(ngModel)]="menu.nutrition.fat.fat">
              <span>g</span>
            </div>
            <div class="form-group row">
              <div>
                <label for="satFat">Saturated Fat: </label>
                <input type="number" name="menu.nutrition.fat.satFat" id="satFat" class="form-control  form-control-sm col-sm-4 d-inline"
                  [(ngModel)]="menu.nutrition.fat.satFat">
                <span>g</span>
              </div>
              <div>
                <label for="unsatFat">Unsaturated Fat: </label>
                <input type="number" name="menu.nutrition.fat.unsatFat" id="unsatFat" class="form-control form-control-sm col-sm-4 d-inline"
                  [(ngModel)]="menu.nutrition.fat.unsatFat">
                <span>g</span>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="cholestrol">Cholestrol: </label>
            <input type="number" name="menu.nutrition.cholestrol" id="cholestrol" placeholder="Cholestrol" class="form-control form-control-sm col-sm-2"
              [(ngModel)]="menu.nutrition.cholestrol" />
            <span>mg</span>
          </div>

          <div class="form-group row">
            <label for="sodium">Sodium: </label>
            <input type="number" name="menu.nutrition.sodium" id="sodium" placeholder="Sodium" class="form-control form-control-sm col-sm-2"
              [(ngModel)]="menu.nutrition.sodium" />
            <span>mg</span>
          </div>

          <div ngModelGroup="carbs">
            <div class="form-group row">
              <label for="carbs">Carbohydrates: </label>
              <input type="number" name="carbs" id="carbs" class="form-control form-control-sm col-sm-2" [(ngModel)]="menu.nutrition.carbs.carbs">
              <span>g</span>
            </div>
            <div class="form-group row">
              <div>
                <label for="sugar">Sugar: </label>
                <input type="number" name="sugar" id="sugar" class="form-control form-control-sm col-sm-4 d-inline" [(ngModel)]="menu.nutrition.carbs.sugar">
                <span>g</span>
              </div>
              <div>
                <label for="fiber">Dietary Fiber: </label>
                <input type="number" name="fiber" id="fiber" class="form-control form-control-sm col-sm-4 d-inline" [(ngModel)]="menu.nutrition.carbs.fiber">
                <span>g</span>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="protein">Protein: </label>
            <input type="number" min="0" max="100" name="protein" id="proteein" placeholder="Protein" class="form-control form-control-sm col-sm-2"
              [(ngModel)]="menu.nutrition.protein" />g
          </div>

          <div ngModelGroup="vitamin" class="form-group row">
            <div>
              <label for="vita">Vitamin A: </label>
              <input type="number" min="0" max="100" name="vita" id="vita" class="form-control form-control-sm col-sm-4 d-inline" [(ngModel)]="menu.nutrition.vitamin.vita">%
            </div>
            <div>
              <label for="vitc">Vitamin C: </label>
              <input type="number" min="0" max="100" name="vitc" id="vitc" class="form-control form-control-sm col-sm-4 d-inline" [(ngModel)]="menu.nutrition.vitamin.vitc">%
            </div>
          </div>

          <div class="form-group row">
            <label for="calcium">Calcium: </label>
            <input type="number" min="0" max="100" name="calcium" id="calcium" placeholder="Calcium" class="form-control form-control-sm col-sm-2"
              [(ngModel)]="menu.nutrition.calcium" />%
          </div>

          <div class="form-group row">
            <label for="iron">Iron: </label>
            <input type="number" min="0" max="100" name="iron" id="iron" placeholder="Iron" class="form-control form-control-sm col-sm-2"
              [(ngModel)]="menu.nutrition.iron" />%
          </div>
        </div>





        <div class="modal-footer">
          <button type="submit" name="go" class="btn btn-outline-primary">{{newAdd?"Add":"Update"}}</button>
          <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
