<div class="text-center">
  <nav class="navbar navbar-light bg-faded">
    <form class="form-inline">
      <input type="text" class="form-control input-lg" name="searchString" placeholder="Type to search..." [(ngModel)]="searchString">
      <button class="btn btn-outline-primary m-2" (click)="openAddMenu()">Add</button>
    </form>
  </nav>
  <table class="table table-hover table-responsive text-center">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>MenuType</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let menu of menus| filter : 'name' : searchString; let i = index;">
        <td>{{menu.name}}</td>
        <td>{{menu.description}}</td>
        <td>{{menu.menutype}}</td>
        <td>
          <button class="btn btn-info" (click)="viewDetails(menu)">View Details/Edit</button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="delete(menu.menuId, i)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
