<div>
	<span>Search</span>
	<input type="text">
	<button class="btn btn-lg btn-outline-primary" (click)="openAddMenu()">Launch demo modal</button>
</div>
<table class="table table-hover table-responsive">
	<thead>
	  <tr>
		<th>Name</th>
		<th>Description</th>
		<th>MenuType</th>
		<th>Sub-section</th>
		<th>Price</th>
	  </tr>
	</thead>
	<tbody>
	  <tr *ngFor = "let menu of menus">
		<td >{{menu.name}}</td>
		<td>{{menu.description}}</td>
		<td>{{menu.menutype}}</td>
		<td>{{menu.menuSection}}</td>
		<td><button>View Details</button></td>
	  </tr>
	</tbody>
  </table>