<div class="card my-4">
  <h5 class="card-header">Pending Orders</h5>
  <div class="card-body">
    <ul class="list-group mb-3">
      <li *ngFor="let k of pendingOrders; let i = index" class="list-group-item d-flex justify-content-between d-flex">
        <div class="d-inline d-flex d-flex">
          <div class="text-muted mr-2">
            <span> {{k.quantity}} </span>
            <span> {{k.menu.prices[k.size].type}} </span>
          </div>
          <div class="d-inline">
            <h6 class="my-0">{{k.menu.name}}</h6>
            <small class="text-muted">{{k.menu.description}}</small>
          </div>
        </div>
        <span class="text-muted">${{k.menu.prices[k.size].price * k.quantity}}</span>
        <div class="ml-2">
          <button class="btn btn-danger btn-sm" (click)="removeOrder(i)">X</button>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Total (USD)</span>
        <strong>${{getTotal(pendingOrders)}}</strong>
      </li>
    </ul>
    <div class="input-group-append float-right">
      <button type="submit" class="btn btn-secondary" (click)="addToActive()">Confirm</button>
    </div>
  </div>
</div>

<div class="card my-4">
  <h5 class="card-header">Active Orders</h5>
  <div class="card-body">
    <ul class="list-group mb-3">
      <li *ngFor="let k of activeOrders" class="list-group-item d-flex justify-content-between lh-condensed">
        <div class="d-inline d-flex d-flex">
          <div class="text-muted mr-2">
            <span> {{k.quantity}} </span>
            <span> {{k.menu.prices[k.size].type}} </span>
          </div>
          <div class="d-inline">
            <h6 class="my-0">{{k.menu.name}}</h6>
            <small class="text-muted">{{k.menu.description}}</small>
          </div>
        </div>
        <span class="text-muted">${{k.menu.prices[k.size].price * k.quantity}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Total (USD)</span>
        <strong>${{getTotal(activeOrders)}}</strong>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Tax (USD)</span>
        <strong>${{getTax()}}</strong>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Tip (USD)</span>
        <input type="number" name="tipPercent" min="0.00" id="tipPercent" class="form-control mb-2 ml-2 mr-sm-2" (input)="getTip($event.target.value)"
          list="menuTypes" [(ngModel)]="tipPercent">
        <strong class="col-md-2">%</strong>
        <datalist id="menuTypes">
          <option> 10</option>
        </datalist>
        <strong>$</strong>
        <input type="number" name="tip" step='.01' id="tip" class="form-control mb-2 ml-2 mr-sm-2" [(ngModel)]="tip">
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Grand Total (USD)</span>
        <strong>${{ getGrandTotal() }}</strong>
      </li>

    </ul>

    <div class="input-group-append float-right">
      <button type="submit" class="btn btn-secondary " href="#checkOut" (click)="closeOrder()">Pay and close order</button>
    </div>
  </div>
</div>

<div id="checkOut" *ngIf="showCheckOut" class="card my-4">
  <h5 class="card-header">Check Out</h5>
  <div class="card-body">
    <div class="col order-md-1">
      <form class="needs-validation" novalidate="">

        <h4 class="mb-3">Payment</h4>

        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
            <label class="custom-control-label" for="credit">Credit card</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="">
            <label class="custom-control-label" for="debit">Debit card</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
            <label class="custom-control-label" for="paypal">Paypal</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-name">Name on card</label>
            <input type="text" class="form-control" id="cc-name" placeholder="" required="">
            <small class="text-muted">Full name as displayed on card</small>
            <div class="invalid-feedback">
              Name on card is required
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="cc-number">Credit card number</label>
            <input type="text" class="form-control" id="cc-number" placeholder="" required="">
            <div class="invalid-feedback">
              Credit card number is required
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="cc-expiration">Expiration</label>
            <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
            <div class="invalid-feedback">
              Expiration date required
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="cc-expiration">CVV</label>
            <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
            <div class="invalid-feedback">
              Security code required
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Complete Payment</button>
      </form>
    </div>


  </div>
</div>
