<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel *ngFor="let section of sections" title="{{section}}">
    <ng-template ngbPanelContent>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">

            <div *ngFor="let menu of dispMenu[section]" class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="container my-2">
                  <ngb-carousel *ngFor="let image of menu.images">
                    <ng-template ngbSlide>
                      <img [src]="image.url" alt="image.name">
                    </ng-template>
                  </ngb-carousel>
                </div>
                <div class="card-body">
                  <p class="card-text">{{menu.name}}</p>
                  <p class="card-text">{{menu.description}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <div>
                        <select *ngIf="menu.prices.length > 1" [(ngModel)]="priceIndex" class="form-control mb-2 mr-sm-2">
                          <option *ngFor="let price of menu.prices; let i = index" value="{{i}}">{{price.type}}</option>
                        </select>
                      </div>
                      <div>
                        <select [(ngModel)]="quantity" class="form-control mb-2 mr-sm-2">
                          <option *ngFor="let index of numbers" value="{{index}}">{{index}}</option>
                        </select>
                      </div>
                      <div>

                      </div>
                    </div>

                    <small class="text-muted">$ {{ (quantity ) ? ((menu.prices.length > 1 && priceIndex) ? menu.prices[priceIndex].price :menu.prices[0].price)
                      * quantity : 0 }}</small>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="openDetails(menu)">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="addToOrders(menu, quantity, priceIndex)">Add</button>
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>


    </ng-template>
  </ngb-panel>
</ngb-accordion>
